[flake8]
select = ANN,B,B9,BLK,C,E,F,I,S,W,D
docstring-convention = numpy
ignore = E203,E501,W503,DAR401
per-file-ignores = tests/*:S101,ANN,DAR101,__init__.py:F401,console.py:B008,DAR101,S102,S307,D103,noxfile.py:ANN
max-line-length=88
application-import-names = advent, tests
import-order-style = google
max-complexity = 10
